body {
    background: url('images/appImages/loginBGcompress.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #6c757d;
}

/*https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrapper {
    padding-bottom: 4.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #ddeebb;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}
.border {
    border-radius: 15px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.bg-light {
    opacity: 0.9;
}

.customNav {
    border-radius: 15px;
    padding: 20px;
}

.containerStyle {
    margin-top: 3vh;
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #000;
}

.loadingModal{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8)
    url('/static/images/fileUpload/loading.gif')
    50% 50%
    no-repeat;
}

.loading .loadingModal {
    overflow: hidden;
    display: block;
}

.ingredientRow
{
    margin-top: 15px;
}

.labelRow
{
    padding-left: 0;
    margin-bottom: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-space {
    margin-right: 5px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-update {
    margin-top: 15px;
    margin-left: auto;
}

.successHeader .ui-widget-header{
    background: #5cb85c;
}

.failHeader .ui-widget-header{
    background: #d9534f;
}

.ui-dialog-title{
    text-align: center;
}

.btn-primary {
  color: #555555;
  background-color: #ddeebb;
  border-color: #d3e9a7;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #555555;
  background-color: #c9e492;
  border-color: #a0cf41;
}
.btn-primary:hover {
  color: #555555;
  background-color: #c9e492;
  border-color: #badd76;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #555555;
  background-color: #c9e492;
  background-image: none;
  border-color: #badd76;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #555555;
  background-color: #badd76;
  border-color: #a0cf41;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #ddeebb;
  border-color: #d3e9a7;
}
.btn-primary .badge {
  color: #ddeebb;
  background-color: #555555;
}