{% extends "layout.html" %}

{% block title %}
    Edit Recipe
{% endblock %}

{% block head %}
<link href="/static/styles.css" rel="stylesheet">
<link href="/static/lightbox.css" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="container">
    <div class="containerStyle">
        <br/>
        <br/>
        <h1 class="display-4 addNewHeader">Edit your recipe!</h1>
        <br/>
        <div class="form-group row">
            <label for="name"> Recipe Name</label>
            <input type="text" class="form-control name" id="name" name="name" value="{{ recipeInfo[0]['name'] }}">
            <button type="button" id="updateName" class="btn btn-warning btn-update" onclick="editRecipe({{ recipeInfo[0]['id'] }}, 'name', null, null);">Update</button>
        </div>
        <div class="form-group row">
            <label for="author">Author</label>
            <input type="text" class="form-control author" id="description" name="author" value="{{ recipeInfo[0]['description'] }}">
            <button type="button" id="updateAuthor" class="btn btn-warning btn-update" onclick="editRecipe({{ recipeInfo[0]['id'] }}, 'description', null, null);">Update</button>
        </div>
        <div class="form-group row">
            <label for="instructions">Instructions</label>
            <textarea class="form-control instructions" id="instructions" name="instructions" style="height: 10em;" maxlength="5000">{{ recipeInfo[0]['instructions'] }}</textarea>
            <button type="button" id="updateInstructions" class="btn btn-warning btn-update" onclick="editRecipe({{ recipeInfo[0]['id'] }}, 'instructions', null, null);">Update</button>
        </div>
        {% if recipeInfo[0].img_file_path %}
        <div class="form-group row">
            <label for="txtPost">Photos</label>
            <div class="input-group" style="display: inline-block">
                <a id="lightboxImg" href="{{ presigned_img }}" data-lightbox="{{ presigned_img }}" style="text-decoration: none;">
                  <img src="{{ presigned_img }}" id="recipeImg" style="width: 140px; height: 140px;" class="img-thumbnail">
                </a>
                <input type="hidden" name="filePath" id="filePath"></input>
                <div class="pull-right" style="float: right">
                    <span class="input-group-btn">
                    <span class="btn btn-warning btn-file">
                        Update <input type="file" id="fileupload" name="fileupload" >
                    </span>
                    </span>
                </div>
                <div class="progress active" style="width: 140px; height: 10px;" id="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: 0%;"></div>
                </div>
            </div>
            <div>
                <span id="upMsg" style="font-size: 12px;"></span>
            </div>
        </div>
        {% endif %}
        <fieldset id="addIngredients">
            <div class="row">
                <label class="col-4 labelRow" for="ingredient1">Ingredient</label>
                <label class="col-2 offset-1 labelRow" for="amount1">Amount</label>
                <label class="col-2 offset-1 labelRow" for="measure1">Measure</label>

            </div>
            {% for ingredient in ingredientList %}
            <div class="form-group row ingredientRow">
                <input type="text" class="form-control col-4 ingredient autoComp" id="ingredient{{ loop.index0 + recipeInfo[0]['id'] }}" name="ingredient" value="{{ ingredient['ingredient'] }}" autocomplete="Off"/>
                <input type="text" class="form-control col-2 offset-1 amount" id="amount{{ loop.index0 + recipeInfo[0]['id'] }}" name="amount" value="{{ ingredient['amount'] }}" autocomplete="Off"/>
                <input type="text" class="form-control col-2 offset-1 measure" id="measure{{ loop.index0 + recipeInfo[0]['id']}}" name="measure" list="measures" value="{{ ingredient['measure'] }}" autocomplete="Off">
                    <datalist id="measures">
                        {% for measure in measureList %}
                        <option value="{{ measure['name'] }}">
                        {% endfor %}
                    </datalist>
                <button type="button" id="updateIngredient" class="btn btn-warning offset-1" onclick="editRecipe({{ ingredient['recipe_id'] }}, 'ingredients', {{ ingredient['ingredient_id'] }}, {{ ingredient['measure_id'] }});">Update</button>
            </div>
            {% endfor %}
        </fieldset>
        <form action="/edit/{{ recipeInfo[0]['id'] }}" method="POST" class="needs-validation" novalidate>
            <fieldset id="newIngredients">
            </fieldset>
            <div class="row">
                <button type="button" class="btn btn-secondary" id="add" value="Add Ingredient">Add Ingredient</button>
                <button type="submit" class="btn btn-primary col-2 offset-10" id="submitRecipe">Save New Ingredients!</button>
            </div>
            <input type="hidden" id="recipeIDHidden" name="recipeIDHidden" value="{{ recipeInfo[0]['id'] }}">
        </form>
    </div>
    <div id="dialogSuccess" style="display:none">
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        <p>Your recipe has been updated!</p>
    </div>
    <div id="dialogFail" style="display:none">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
        <p>There was a problem updating your recipe.</p>
    </div>

    <div class="loadingModal"></div>
</div>


    <script type="text/javascript" src="/static/edit.js"></script>
    <script type="text/javascript" src="/static/lightbox.js"></script>
    <script type="text/javascript" src="/static/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/static/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/static/jquery.fileupload-ui.js"></script>
    <script type="text/javascript" src="/static/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="/static/jquery.fileupload-image.js"></script>

{% endblock %}